NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_VERCEL_URL=YOUR_DEPLOYED_URL

NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY

COLLEGE_EMAIL_DOMAIN=ldce.ac.in

# Use for querying DB (when deploying on vercel, use this database url)
# DATABASE_URL="postgresql://postgres.[SUPABASE_PROJECT_ID]:[YOUR_PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Use for migrations (for running migrations and for local development, use this url)
DATABASE_URL="postgresql://postgres.[SUPABASE_PROJECT_ID]:[YOUR_PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"

NODE_ENV=development # change to production when deploying on vercel